---
- name:  Clone a virtual machine from Linux template and customize
  community.vmware.vmware_guest:
    hostname: "{{ vcenter['hostname'] }}" 
    username: "{{ vcenter['username'] }}"
    password: "{{ vcenter['password'] }}"
    datacenter: "{{ vcenter['datacenter'] }}"
    state: present
    folder: "VMs"
    template: "{{ 'template-' + so_version }}"
    name: "{{ servername }}"
    wait_for_ip_address: true
    validate_certs: false
  register: create_vm

- name: Get IP Address after creation
  set_fact:
    vm_ip: "{{ create_vm.instance.hw_eth0.ipaddresses[0] }}"
